<style>
  
  body {
    background-color: <%= @color %>;
  }
  
</style>

<%= link_to "Add a New Picture", "/pictures/new" %>

<p>
  Here are some of my favorite photos
</p>

<ul>
<% @pictures.each do |p| %>
  <li>
    <%= link_to image_tag(p.url), "/pictures/#{p.id}" %>
    <p><%= p.title %><p>
  </li>
<% end %>
</ul>
