<h1><%= @picture.title %></h1>

<p><%= link_to "Delete", picture_url(@picture.id), :method => :delete %>
  <%= link_to "Edit", edit_picture_url(@picture.id) %>
  </p>

<%= image_tag @picture.url, :width => 150 %>

